.payments__background {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: var(--second-gray);
}

.payments__container {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.payments__container i {
  margin-right: 15px;
}

.payments__container--circle-percent {
  font-size: 0.8em;
  padding-top: 5px;
  padding-left: 10px;
  border-radius: 50%;
  padding-right: 10px;
  padding-bottom: 5px;
  border: 2px solid var(--main-black);
}

.figure__models__main {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.figure__models__main img {
  width: 49.5%;
  margin-bottom: 10px;
}

.main {
  width: 80%;
  margin: auto;
}

.main__model--domenico-dhe {
  width: 100%;
  margin-bottom: 10px;
}

.main__jewel {
  display: flex;
}

.main__jewel--ring {
  flex: 1;
  display: flex;
  border-radius: 5px;
  align-items: center;
  border: 1px solid var(--second-gray);
}

.main__jewel--ring img {
  margin: auto;
  display: flex;
}

.main__shop {
  display: flex;
  line-height: 50px;
  align-items: center;
  flex-direction: column;
  color: var(--main-gray);
}

.main__btn {
  padding: 8px;
  cursor: pointer;
  background-color: var(--main-white);
}

.main__jewel--errings {
  flex: 1;
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 5px;
  align-items: center;
  border: 1px solid var(--second-gray);
}

.main__jewel--errings img {
  margin: auto;
  height: 150px;
  display: flex;
}

.main__jewel--necklace {
  flex: 1;
  display: flex;
  border-radius: 5px;
  align-items: center;
  border: 1px solid var(--second-gray);
}

.main__jewel--necklace img {
  margin: auto;
  height: 170px;
  display: flex;
}

.launch {
  margin-top: 70px;
  position: relative;
  margin-bottom: 30px;
}

.launch>h2 {
  top: 50%;
  left: 50%;
  font-weight: 100;
  font-size: 1.7rem;
  position: absolute;
  color: var(--main-gray);
  transform: translate(-50%, -50%);
}

.launch__row {
  display: flex;
  justify-content: space-evenly;
}

.launch__column {
  padding: 20px;
  flex-basis: 30%;
  border-radius: 5px;
  border: 2px solid var(--second-gray);
}

.launch__column:hover {
  transform: scale(1.02);
  box-shadow: 2px 2px 2px 2px var(--main-gray);
}

.launch__column--img {
  position: relative;
}

.launch__column--img-offer {
  top: 0;
  right: 5%;
  opacity: 0.7;
  padding: 10px;
  position: absolute;
  color: var(--main-pink);
  background-color: var(--main-black);
}

.launch__column--img-spy,
.launch__column--img-bgcolor-opacity {
  display: none;
}

.launch__column--img:hover
.launch__column--img-spy {
  top: 50%;
  left: 50%;
  width: 60%;
  opacity: 0.7;
  padding: 5px;
  display: block;
  position: absolute;
  text-align: center;
  color: var(--main-pink);
  transform: translate(-50%, -50%);
  background-color: var(--main-black);
}

.launch__column--img:hover
.launch__column--img-bgcolor-opacity {
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  display: block;
  position: absolute;
  background-color: black;
}

.launch__column--title {
  width: 90%;
  margin: auto;
  font-size: 0.9em;
  padding-top: 10px;
  text-align: center;
}

.launch__column--price-container {
  display: flex;
  padding-top: 10px;
  justify-content: space-evenly;
}

.launch__column--payment-method {
  font-size: 0.9em;
  margin-top: 10px;
  text-align: center;
}

.launch__column--btn {
  border: 0;
  width: 70%;
  padding: 10px;
  font-size: 1em;
  margin: 20px 0 0 50%;
  color: var(--main-white);
  transform: translate(-50%);
  background-color: var(--main-pink);
}

.launch__column--btn:hover {
  cursor: pointer;
}

.launch__column--btn:active {
  border: 2px solid gray;
  box-shadow: 1px 1px 5px 1px gray;
}

.launch__models {
  display: flex;
  margin-top: 60px;
}

.launch__models--img-main {
  flex-basis: 59%;
  margin-right: 10px;
}

.launch__models--img-second {
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.launch__models--image-size img {
  min-width: 100%;
}

.instagram {
  width: 80%;
  margin: auto;
  display: flex;
  line-height: 35px;
  align-items: center;
  flex-direction: column;
  color: var(--main-gray);
}

.instagram__title {
  font-weight: lighter;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--main-gray);
}

.lastCarousel {
  width: 80%;
  margin: auto;
  display: flex;
  margin-top: 50px;
  align-items: center;
}

.lastCarousel__carousel {
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lastCarousel__carousel--item {
  width: 150px;
  padding: 5px;
  height: 150px;
}